@import "tailwindcss";

*{
    margin: 10;
    padding: 0;
    box-sizing: border-box;
    font-family: "Figtree", sans-serif;
    background-color: #2A2A2A;
    color: #FFFFFF;
}
.container{
    min-width: 100vw;
    min-height: 100vh;
}

.Navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.taskpay-FFE773,
.taskpay-span-FEC400{
    color: #FFE773; 
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}
.taskpay-span-FEC400{
    color: #FEC400;
}

